body {
  background-image: url('jmulogo.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 60%;
  background-color: #fcf8ea;
  }
h2 {
  font-family: 'Roboto Mono', sans-serif;
  text-decoration: underline;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #684b77;
   }
#contact {
 
}
#skills {
   width: 420px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0px;
}

#education {
  width: 420px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

#experience {
  width: 420px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

#sports {
  width: 420px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

